$light-accent: #92A1B1;
$purple-accent: #8000FF;
$dark-accent: #415469;
.banner{
    position: relative;
    width: 100%;
    margin-top: -1.2rem;
    margin-bottom: 1rem;
    img{
        margin-left: -1rem;
        width: 103%;
    }

    .overlay{
        position: absolute;
        opacity: 0.31;
        background: #000000;
        border: 1px solid #979797;
        border-radius: 5px;
        font-family: JosefinSlab-Regular;
        font-size: 48px;
        color: white;
        letter-spacing: 1.2px;
        padding: 1rem;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        border-color: $light-accent;
    }

    .overlay.quote{
        width: 50%;
        top: 5rem;
    }

    .overlay.blog-btn{
        width: 20%;
        top: 20rem;
        &:hover{
            opacity: .6;
            cursor: pointer;
        }
    }
}

.icon-container{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    width: 25%;
    margin: auto;
    svg{
        width: 2rem;
        height: 2rem;
    }
    a:hover{
        color: $purple-accent;
        cursor: pointer;
    }
}

#newsletter-heading{
    font-size: 24px;
    margin: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 400px;
    text-align: center;
    border-bottom: dashed $dark-accent 2px;
}

@media(max-width : 1024px){
    .banner{
        img{
            width: 105%;
        }

        .overlay.quote{
            font-size: 1.5rem;
            top: 3rem;
        }
    
        .overlay.blog-btn{
            top: 12rem;
            font-size: 1.3rem;
        }
    }


    .icon-container{
        width: 18%;
        svg{
            width: 1rem;
            height: 1rem;
        }
    }
    #newsletter-heading{
        font-size: 1rem;
        width: 250px;
    }
}

@media(max-width : 640px){
    .banner{
        img{
            width: 108%;
        }
        .overlay.quote{
            display: none;
        }
    
        .overlay.blog-btn{
            top: 4rem;
            font-size: 1.2rem;
        }
    }

    .icon-container{
        width: 30%;
    }

    #newsletter-heading{
        font-size: .8rem;
        width: 200px;
    }
}