$light-accent: #92A1B1;
$purple-accent: #8000FF;
$dark-accent: #415469;

.icon-container {
    margin-top: 3rem;

    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    width: 25%;
    margin: auto;

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    a:hover {
        color: $purple-accent;
        cursor: pointer;
    }
}

.index-container {
    margin-left: 15%;
    width: 800px;

    .headshot {
        width: 300px;
        border-radius: 2%;
    }

    .intro {
        h1 {
            font-size: 80px;
            font-weight: 100;
            margin: 1rem;
        }

        h2 {
            font-size: 25px;
            font-weight: 100;
            margin: 1rem;
            margin-top: -1rem;
            color: $dark-accent;
        }
    }

    .blurb {
        font-size: 30px;
        margin: 2rem 1rem;
        color: $dark-accent;

        span {
            font-weight: bold;
            color: black;
        }

        a,
        a:visited {
            color: $dark-accent;
            text-decoration: underline;
            transition: color 300ms, text-decoration 300ms ease-in;

            &:hover {
                color: $purple-accent;
                text-decoration: underline;
            }
        }
    }

    .email-form-wrap {
        #email-input {
            margin: 1rem;
            display: inline;
        }
    }

    .quote {
        position: relative;
        padding-left: 1em;
        border-left: 0.2em solid lighten(black, 40%);
        font-family: 'Roboto', serif;
        font-size: 25px;
        line-height: 1.2;
        font-weight: 100;

        &:before,
        &:after {
            content: '\201C';
            font-family: 'Sanchez';
            color: lighten(black, 40%);
        }

        &:after {
            content: '\201D';
        }
    }

    blockquote {
        padding-left: 1em;
        font-family: 'Roboto', serif;
        font-size: 30px;
        font-weight: 100;
    }

    #mc-embedded-subscribe {
        display: inline;
    }
}

@media(max-width : 1024px) {
    .icon-container {
        width: 18%;

        svg {
            width: 1rem;
            height: 1rem;
        }
    }

    #newsletter-heading {
        font-size: 1rem;
        width: 250px;
    }
    .index-container {
        width: 600px;
        .intro {
            h1 {
                font-size: 50px;
                font-weight: 100;
                margin: 1rem;
            }

            h2 {
                font-size: 20px;
                font-weight: 100;
                margin: 1rem;
                margin-top: -1rem;
                color: $dark-accent;
            }
        }

        .blurb{
            font-size: 20px;
        }
        .quote{
            font-size: 20px;
        }
        blockquote {
            padding-left: 1em;
            font-family: 'Roboto', serif;
            font-size: 20px;
            font-weight: 100;
        }
    }
}

@media(max-width : 640px) {
    .index-container{
        width: 95%;
        margin-left: 1rem;
        .intro{
        h1{
            font-size: 40px;
        }
        }
    }
    #newsletter-heading {
        font-size: .8rem;
        width: 200px;
    }
}

#newsletter-heading {
    font-size: 24px;
    margin: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 400px;
    text-align: center;
    border-bottom: dashed $dark-accent 2px;
}