@import url('https://fonts.googleapis.com/css?family=Fjord+One');
$font-stack: 'Fjord One', serif;
$dark-accent: #415469;
$light-accent: #92A1B1;
$bg-color: #FAFBFC;

body{
  font-family:  $font-stack;
  background-color: $bg-color;
}

a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: black;
}

.Navigation{
  position: relative;
  margin-top: -1.5rem;
  z-index: 10;
}

.Navigation-body{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 24px;
  margin: auto;
}

.Navigation-left{
  display: flex;
  align-items: center;
  flex: 1;
  a{
    color: $dark-accent;
    font-weight: normal;
  }
}

.Navigation-right{
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  a{
    position: relative;
    color: $light-accent;
    font-weight: normal;
  }
}

@media(max-width : 1024px){
  body{
    background-color: white;
  }
  .Navigation-left{
    display: block;
    text-align: center;
  }
  .Navigation-right{
    position: absolute;
    width: 100%;
    left: 0;
    top: 6rem;
    text-align: center;
    justify-content: space-around;
  }
  .Navigation-body{
    padding-bottom: 4rem;
  }
}

@media(max-width: 640px){
  #resume{
    display: none;
  }
}